pip
six
httpie
ipython
plumbum

git+https://github.com/irods/python-irodsclient.git@master

git+https://github.com/rapydo/utils.git@0.6.0
git+https://github.com/rapydo/http-api.git@0.6.0
flower
celery
