pip

#required by py27compat di setuptools
six

#RAPyDo framework
rapydo-http==0.1.1

#brutally copyed from backend build
Flask
Flask-Cors
Flask-OAuthlib
Flask-RESTful
Flask-SQLAlchemy
flask-shell-ipython
httpie
ipython
neomodel
nose2
cov-core
pyOpenSSL
plumbum
psycopg2
PyJWT
pyotp
pyqrcode
requests
swagger-spec-validator
uWSGI
uwsgitop
urllib3

celery
flower

gssapi
git+https://github.com/irods/python-irodsclient.git@master
git+https://github.com/EUDAT-B2STAGE/B2HANDLE.git@master
