pip
six
beeprint
prettyprinter
better_exceptions
httpie
ipython
plumbum
git+https://github.com/irods/python-irodsclient.git@master
git+https://github.com/EUDAT-B2STAGE/B2HANDLE.git@master
flower
celery
pika
redis
