
pip
six
httpie
beeprint
prettyprinter
better_exceptions
ipython
pytest-flask
pytest-cov
cov-core
coveralls
uWSGI
uwsgitop
plumbum
glom
pika
gdapi-python
websocket-client
celery
redis
psutil
git+https://github.com/EUDAT-B2STAGE/B2HANDLE.git@master
git+https://github.com/irods/python-irodsclient.git@master
