pip
six
httpie
ipython
nose2
cov-core
coveralls
uWSGI
uwsgitop
plumbum
psutil
git+https://github.com/EUDAT-B2STAGE/B2HANDLE.git@master
git+https://github.com/rapydo/utils.git@0.5.3
git+https://github.com/rapydo/http-api.git@0.5.3
git+https://github.com/pdonorio/python-irodsclient.git@0.5.3

