pytest-flask
pytest-cov
uWSGI
uwsgitop
pika
gdapi-python
websocket-client
celery
flower==0.9.3
git+https://github.com/zmap/celerybeat-mongo.git@master
celery-redbeat==0.13.0
redis
elasticsearch
Flask-Migrate
git+https://github.com/EUDAT-B2STAGE/B2HANDLE.git@master
git+https://github.com/irods/python-irodsclient.git@master
gssapi==1.5.1
