pytest-flask
pytest-cov
cov-core
coveralls
uWSGI
uwsgitop
pika
gdapi-python
websocket-client
celery
flower==0.9.3
redis
git+https://github.com/EUDAT-B2STAGE/B2HANDLE.git@master
git+https://github.com/irods/python-irodsclient.git@master
gssapi==1.5.1
elasticsearch
urllib3==1.24.3
